@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  html {
    background: none;
  }
  .content {
    display: block;
  }
  .content-text {
    margin: 0 auto;
    text-align: center;
  }
  .content-text p {
    font-size: 12px;
  }
  .content-text ul {
    margin: 0;
    padding: 0;
  }
  .content-text li {
    list-style: none;
  }
  .content-image {
    margin: 0 auto;
  }
  .profile {
    background: none !important;
    box-shadow: none !important;
  }
  .profile-image,
  .profile-image img {
    width: auto;
  }
}
