@import url('https://fonts.googleapis.com/css?family=Exo&subset=latin,latin-ext')

html
    background rgba(0, 0, 0, 0) url("http://www.goodwp.com/images/201103/goodwp.com_15928.jpg") fixed scroll 0 0
    font-family sans-serif
    height 100%

body
    background skyblue none repeat scroll 0 0
    color #296174
    font-family Exo
    line-height 2
    opacity 0.85
.container
  width 960px
  margin 0 auto

.wrapper
  height 100%
.logo
  margin 0 0 25px 0
  figure
    margin 0 auto
    width 75%
  img
    width 100%

.logo-triger
  transition .6s all
  &:hover
    transform scale(1.1, 1.1)
    img
      filter grayscale(0%)

.content
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display flex

.content, .profile
  margin-bottom 50px

.content-image
    border 2px solid #fff
    -webkit-border-radius 100%
    -moz-border-radius 100%
    -ms-border-radius 100%
    -o-border-radius 100%
    border-radius 100%
    display flex
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding 10px
    margin: 1em 40px
    width: 240px
    height 240px
    img
      -webkit-border-radius 100%
      -moz-border-radius 100%
      -ms-border-radius 100%
      -o-border-radius 100%
      border-radius 100%
      transition .6s all
      width 100%
      &:hover
        transform rotate(360deg)

.content-text
    color white
    flex-basis 58.333%
    max-width 58.333%
    text-align justify
    text-shadow 0 0 2px #5e8fd7

.content-text li
  color #296174
  text-shadow 0 0 0
  font-size 14px

.content-text p
    color #296174
    font-weight bold
    line-height 2.4
    text-shadow 0 0 0 white

.profile-wrapper
  margin 0 auto

.profile-text h4
  transition all .6s

.profile
  background url(../img/bubble.jpg) scroll rgba(98, 141, 209, .9) none
  border-radius 4px
  transition all 1s
  min-height 472px
  &:hover
    background url(../img/bubble.jpg) fixed rgba(98, 141, 209, .9)
    box-shadow 0 0 2px gray
    transform scale(1.1, 1.1)
    .profile-image img
      transform scale(1.2,1.2)
    .profile-text p
      color #222222
    .profile-text h4
      font-size 20px

.profile-header
  h1
    color white
    text-align center

.description
  padding 50px
  text-align justify

.description-footer p
  color #296174

.profile-image
    border 2px solid #fff
    -webkit-border-radius 100%
    -moz-border-radius 100%
    -ms-border-radius 100%
    -o-border-radius 100%
    border-radius 100%
    display -webkit-box      /* OLD - iOS 6-, Safari 3.1-6 */
    display -moz-box         /* OLD - Firefox 19- (buggy but mostly works) */
    display -ms-flexbox      /* TWEENER - IE 10 */
    display -webkit-flex     /* NEW - Chrome */
    display flex             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding 10px
    margin 50px 30px
    width 140px
    height 140px
    img
      -webkit-border-radius 100%
      -moz-border-radius 100%
      -ms-border-radius 100%
      -o-border-radius 100%
      border-radius 100%
      transition .6s all
      width 100%
      &:hover
        transform scale(1.2,1.2)

.profile-text
  text-align center
  transition all .8s
  h4
    color white
  p
    color #296174
    font-size 14px

footer p
  color white
  font-weight bold
  text-align center

iframe .PlanetBanner
  display none !important

iframe .ContentBody
    background skyblue none repeat scroll 0 0
    padding 10px
