
@media screen and (max-width: 960px) {
  .container {
    width 100%
  }
}
@media screen and (max-width: 768px) {
  html {
    background none
  }
  .content {
    display block
  }
  .content-text {
    margin 0 auto
    text-align center
    max-width 100%
  }
  .content-text p {
    font-size 12px
  }
  .content-text ul {
    margin 0
    padding 0
  }
  .content-text li {
    list-style none
  }
  .profile {
    background: none !important;
    box-shadow: none !important;
  }
  .profile-image {
    margin 0 !important
    width auto
    height inherit !important
  }
  .content-image img{
    width inherit !important
  }
  .content-image, .content-image img, .profile-image, .profile-image img {
    border none
    margin 0 auto!important
    width auto
  }
  .description {
      font-size 13px
  }
  .description-footer p {
    text-align center !important
  }
}
